.card
{
    background-color: white;
    color: black;
    border-radius: .75rem;
    box-shadow: .75rem .75rem .75rem .75rem rgb(0, 0, 0, .4);
}

.card-p
{
    width: 90%;
    height: .05rem;
    background-color: #E8E8E8;
    margin: 1.75rem auto;
    opacity: 1;
}
