.card
{
    width: 400px;
    background-color: white;
    color: black;
    border-radius: .75rem;
    box-shadow: 0 0 1.25rem color-mix(in srgb, black 20%, transparent 80%);
}

.card-p
{
    width: 90%;
    height: .05rem;
    background-color: #E8E8E8;
    margin: 0 auto;
    opacity: 1;
}

.card-start-up
{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.card-pro
{
    padding-top: 5.25rem;
    padding-bottom: 5.25rem;
}

.card-enterprise
{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
